 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/pexels-jair-hernandez-villarreal-12087895.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 745px;
}

.u-section-1 .u-line-1 {
  width: 344px;
  transform-origin: right center 0px;
  margin: 93px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  letter-spacing: 8px;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-1 .u-line-2 {
  width: 344px;
  transform-origin: right center 0px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 425px auto 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 614px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 470px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -584px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-top: -437px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }
} A World
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
       
      
      
      
   
   
      
      
         
            
               
                  
                  
                  
                  
                  
                     
                        
                           Home
                        
                        
                           About
                        
                        
                           Services
                        
                        
                           Blog
                        
                        
                           Contact
                        
                     
                  
               
            
            
               
               
                  
                     Home
                     About
                     Services
                     Blog
                     Contact us
                  
               
            
         
         
         
            
               
                  
                     
                        Adventure
                        There are many variations of passages of Lorem Ipsum available, but the majority have sufferedThere are ma available, but the majority have suffered
                        Get A Quote
                     
                  
                  
                     
                        Adventure
                        There are many variations of passages of Lorem Ipsum available, but the majority have sufferedThere are ma available, but the majority have suffered
                        Get A Quote
                     
                  
                  
                     
                        Adventure
                        There are many variations of passages of Lorem Ipsum available, but the majority have sufferedThere are ma available, but the majority have suffered
                        Get A Quote
                     
                  
               
            
         
         
      
      
      
      
         
            Services 
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            
               
                  
                     
                     Rafting
                  
                  
                     
                     Hiking
                  
                  
                     
                     Camping
                  
               
            
         
      
      
      
      
         
            
               
                  
                     About Us
                     There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All 
                     Read More
                  
               
               
                  
               
            
         
      
      
      
      
         
            See Our  Video
            many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which
            
               
            
         
      
      
      
      
         
            Testimonial
            
               
                  
                     
                     
                     
                  
                  
                     
                        
                           
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia
                           
                           
                              
                                 
                                 
                              
                              
                                 Dame
                                 Customer
                              
                           
                        
                     
                     
                        
                           
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia
                           
                           
                              
                                 
                                 
                              
                              
                                 Dame
                                 Customer
                              
                           
                        
                     
                     
                        
                           
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugia
                           
                           
                              
                                 
                                 
                              
                              
                                 Dame
                                 Customer
                              
                           
                        
                     
                  
               
            
         
      
      
      
      
         
            Why Choose Us
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All 
            Read More
            
               Let Start Talk with Us
               Get A Quote
            
         
      
      
      
      
         
            
               
               Subscribe
            
            
               
               Call +01 1234567890
               
               demo@gmail.com
            
            
               
                  
                  
                  
                  
               
            
         
      
      
      
      
         
            2020 All Rights Reserved. Design by Free html  Templates 